terraform/.terraform
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info
terraform/cka-cluster
terraform/cka-cluster.pub
terraform/terraform.tfstate
terraform/terraform.tfstate.backup